<div style="font-size: 30px;">
  <div style="margin-left: 5%;">Top Adventures</div><div style="margin-left: 5%;">Near You</div>
</div>

<div class="swiper-container" id="swiper3" style="margin-top: 25px;width:90%;">
  <div class="swiper-wrapper">

    <div *ngFor="let product of products" class="swiper-slide" fxLayout="column" fxLayoutAlign="left" style="border:1px dashed #a9a9a9;">
      <img src="{{ product.imgadd }}"/><br/>
      <span style="font-size: 25px;">{{ product.title }}</span>
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top: 15px;background:#DCDCDC;">
        <!--<span fxFlex="25" style="font-size: 24px;"><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon></span>-->
        <app-star [rating]="product.rating" style="font-size: 24px;"></app-star>
        <span style="font-size: 24px;"><mat-icon>attach_money</mat-icon>{{ product.price }}</span>
        <span style="font-size: 24px;"><mat-icon>place</mat-icon>{{ product.address }}</span>
        <span style="font-size: 24px;">{{ product.reviews }} Reviews</span>
      </div>
    </div>

  </div>
</div>
