<div fxHide.lt-sm class="container-fluid" fxLayout="row wrap" fxLayoutAlign="center" >
  <div fxFlex="100" class="row" style="background:#8B58E3;height:300px;">
    <div class="col-sm-12" style="font-size: 30px;color:#fff;letter-spacing: 1px;margin-top: 50px;margin-bottom: 30px;">Have a specific destination in mind?</div>
    <div class="col-sm-2"></div>
    <input type="text" class="form-control col-sm-6" placeholder="Where would you like to go?" style="width:50%;"/>
    <button type="button" class="btn btn-default col-sm-2" style="color:#8B58E3;">Find my next adventure</button>
    <div class="col-sm-2"></div>
  </div>

  <div fxFlex="50" style="background:#323A43;height:400px;color:#8F98A3;">
    <div fxLayout="row" fxLayoutAlign="center" style="height:90%;">
      <div fxFlex="30"></div>
      <div fxFlex="10">
        <mat-icon style="font-size: 40px;margin-top: 30px;color:#fff;">blur_on</mat-icon>
      </div>
      <div fxFlex="5"></div>
      <div fxFlex="25" style="text-align: left;margin-top: 40px;">
        <div style="font-size: 20px;">Company</div>
        <div class="shan" style="font-size: 15px;margin-top: 40px;">About</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Careers</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Contact</div>
      </div>
      <div fxFlex="25" style="text-align: left;margin-top: 40px;">
        <div style="font-size: 20px;">Discover</div>
        <div class="shan" style="font-size: 15px;margin-top: 40px;">Activities</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Tours</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Experinces</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Featured Adventures</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Search</div>
      </div>
      <div fxFlex="5"></div>
    </div>
    <div>© Copyright 2018</div>
  </div>

  <div fxFlex="50" style="background:#F8FAFB;height:400px;text-align: left;">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="50" fxLayout="column">
        <div style="font-size: 30px;margin-top: 40px;margin-left: 80px;">Want travel deals<br/>straight to your inbox?</div>
        <div style="font-size: 15px;margin-top: 40px;margin-left: 80px;">Sign up to our newsletter</div>
        <input type="email" class="form-control" placeholder="Enter your email" style="width:80%;margin-top: 15px;margin-left: 80px;"/>
        <button type="button" class="btn btn-info" style="color:#fff;width:40%;margin-top: 15px;margin-left: 80px;">Sign up now</button>
      </div>
      <div fxFlex="50"></div>
    </div>
  </div>
</div>

<div fxHide.gt-xs class="container-fluid" fxLayout="column">
  <div style="background:#F8FAFB;text-align: left;margin-bottom: 20px;">
    <div style="font-size: 20px;margin-top: 20px;margin-left: 5px;">Want travel deals<br/>straight to your inbox?</div>
    <div style="font-size: 15px;margin-top: 40px;margin-left: 5px;">Sign up to our newsletter.</div>
    <input type="email" class="form-control" placeholder="Enter your email" style="width:80%;margin-top: 10px;margin-left: 5px;"/>
    <button mat-raised-button color="primary" style="color:#fff;width:40%;margin-top: 10px;margin-bottom: 20px;margin-left: 5px;">Sign up now</button>
  </div>

  <div style="background:#323A43;color:#8F98A3;">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="15">
        <mat-icon style="font-size: 40px;margin-top: 30px;color:#fff;">blur_on</mat-icon>
      </div>
      <div fxFlex="15"></div>
      <div fxFlex="35" style="text-align: left;margin-top: 40px;">
        <div style="font-size: 20px;">Company</div>
        <div class="shan" style="font-size: 15px;margin-top: 40px;">About</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Careers</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Contact</div>
      </div>
      <div fxFlex="35" style="text-align: left;margin-top: 40px;">
        <div style="font-size: 20px;">Discover</div>
        <div class="shan" style="font-size: 15px;margin-top: 40px;">Activities</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Tours</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Experinces</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Featured Adventures</div>
        <div class="shan" style="font-size: 15px;margin-top: 15px;">Search</div>
      </div>
      <div fxFlex="5"></div>
    </div>
    <div style="margin-top: 50px;">© Copyright 2018</div>
  </div>
</div>
