::-webkit-input-placeholder {/*Chrome/Safari*/
  color:#ADB0B4;
}
::-moz-placeholder {/*Firefox*/
  color:#ADB0B4;
}
:-moz-placeholder {/*Firefox*/
  color:#ADB0B4;
}
:-ms-input-placeholder {/*IE*/
  color:#ADB0B4;
}


    .headText_gt-md{
      margin-top: 120px;
      margin-left: 250px;
      font-size: 65px;
    }
    .headText_md{
      margin-top: 100px;
      margin-left: 200px;
      font-size: 60px;
    }

    .headText_sm{
      margin-top: 200px;
      margin-left: 5%;
      font-size: 60px;
    }
    .headText_xs{
      margin-top: 100px;
      margin-left: 5%;
      font-size:50px;
    }
    @media all and (max-width:340px){
      .headText_xs{
        margin-top: 50px;
        margin-left: 5%;
        font-size:30px;
      }
    }

.inputDiv{
  border:2px solid #fff;
  border-radius:5px;
  height:60px;
}

    .inputDiv_gtmd{
      width:45%;
      background: #fff;
      border:2px solid #fff;
    }
    .inputDiv_gtmd:hover {
      border-color:#A6C7FF;
    }

    .inputDiv_md{
      width:50%;
      background: #fff;
      border:2px solid #fff;
    }
    .inputDiv_md:hover {
      border-color:#A6C7FF;
    }

    .inputDiv_sm{
      width:90%;
      margin-left:5%;
      border:2px solid #ADB0B4;
    }
    .inputDiv_sm:hover {
      border-color:#A6C7FF;
    }

    .inputDiv_xs{
      width:90%;
      margin-left:5%;
      border:2px solid #ADB0B4;
    }
    .inputDiv_xs:hover {
      border-color:#A6C7FF;
    }


.spanIcon {
  display: inline-block;
  float: left;
  margin-top: 12px;
  margin-left: 12px;
}


.headInput {
  float: left;
  margin-left: 12px;
  height:100%;
  border:none;
  letter-spacing: 1px;
  outline:none;
}

    .headInput_gtmd{
      font-size:20px;
      width:80%;
      color:#333B44;
      text-indent: 10px;
    }

    .headInput_md {
      font-size:20px;
      width:80%;
      color:#333B44;
      text-indent: 10px;
    }

    .headInput_sm {
      font-size:15px;
      width:70%;
      color:#fff;
      background-color: transparent;
    }

    .headInput_xs{
      font-size:15px;
      width:70%;
      color:#fff;
      background-color: transparent;
    }


.date_gtsm {
  width:25%;
  font-size: 20px;
  margin-top: 10px;
}

.date_sm {
 font-size: 25px;
  margin-top:20px;
  color:#fff;
  width:90%;
  margin-left:5%;
}

.date_xs {
  font-size:14px;
  margin-top:20px;
  color:#fff;
  width:90%;
  margin-left:5%;
}


    .button_all {
      background: #8B59E3;
      color:#fff;
      letter-spacing: 1px;
      margin-top: 10px;
    }
    .button_gtsm {
      width:25%;
    }
    .button_ltmd {
      width:90%;
      margin-left: 5%;
    }


.Text_gtmd {
  font-size:50px;
  letter-spacing:1px;
  font-weight:300;
}
.Text2_gtmd {
  font-size:20px;
  letter-spacing:1px;
  color:#8F98A3;
}
.Text_md {
  font-size:40px;
  letter-spacing:1px;
  font-weight:200;
}
.Text2_md {
  font-size:16px;
  letter-spacing:1px;
  color:#8F98A3;
}

.card {
  float: right;
  width:35%;
  cursor: pointer;
}
.card:hover {
  transition: 1s;
  transform: scale(1.1);
}
