<!--<div class="swiper-container swiper-no-swiping swiper1" id="swiper1">-->
  <!--<div class="swiper-wrapper swiper1">-->
    <!--<div class="swiper-slide swiper1">-->
      <!--<div class="swiper1" style="background: url(../../../assets/images/travel/hero-1.jpg) center;"></div>-->
    <!--</div>-->
    <!--<div class="swiper-slide swiper1">-->
      <!--<div class="swiper1" style="background: url(../../../assets/images/travel/hero-2.jpg) center;"></div>-->
    <!--</div>-->
    <!--<div class="swiper-slide swiper1">-->
      <!--<div class="swiper1" style="background: url(../../../assets/images/travel/hero-3.jpg) center;"></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div style="height: 100%; position: absolute; width: 100%; overflow: hidden;">
  <img src="../../../assets/images/travel/hero-1.jpg" style="opacity: 0; position: absolute; animation: 18s a linear infinite;">
  <img src="../../../assets/images/travel/hero-2.jpg" style="opacity: 0; position: absolute; animation: 18s b linear 6s infinite;">
  <img src="../../../assets/images/travel/hero-3.jpg" style="opacity: 0; position: absolute; animation: 18s c linear 12s infinite;">
  <div style="height: 100%; width: 100%; background-color: rgba(255,255,255,0.12); position: absolute"></div>
</div>
<div fxHide.lt-md style="width: 100%; overflow: hidden; height: 100%;">
  <div style="
    background-color: rgba(248,248,248,1);
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
  <div style="
    background-color: white;
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
</div>
<div fxHide.lt-md style="width: 100%; overflow: hidden; height: 100%;">
  <div style="
    background-color: rgba(248,248,248,1);
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
  <div style="
    background-color: white;
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
</div>
<div fxHide.lt-md style="width: 100%; overflow: hidden; height: 100%;">
  <div style="
    background-color: rgba(248,248,248,1);
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
  <div style="
    background-color: white;
    height: 720px;
    transform-origin: 0 0;
    transform: translateY(256px) rotate(20deg);
    width: 200vw;
  "></div>
</div>
