<div class="swiper-container swiper-no-swiping swiper1" id="swiper1">
  <div class="swiper-wrapper swiper1">
    <div class="swiper-slide swiper1">
      <div class="swiper1" style="background: url(../../../assets/images/travel/hero-1.jpg) center;"></div>
    </div>
    <div class="swiper-slide swiper1">
      <div class="swiper1" style="background: url(../../../assets/images/travel/hero-2.jpg) center;"></div>
    </div>
    <div class="swiper-slide swiper1">
      <div class="swiper1" style="background: url(../../../assets/images/travel/hero-3.jpg) center;"></div>
    </div>
  </div>
</div>
