<div style="font-size: 50px;margin-top: 100px;">Featured Destinations</div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" style="margin-top: 50px;">
  <span fxFill></span>

  <div fxFlex="23">
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">NEW YORK</div>
        <div style="font-size: 15px;">379 adventures</div>
      </div>
      <img src="../../assets/images/travel/city/new-york.jpg" height="600" width="280"/>
    </div>
  </div>

  <div fxFlex="23" fxLayout="column">
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">BARCELONA</div>
        <div style="font-size: 15px;">68 adventures</div>
      </div>
      <img src="../../assets/images/travel/city/barcelona.jpg" height="285" width="280"/>
    </div>
    <div style="height:20px;"></div>
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">PARIS</div>
        <div style="font-size: 15px;">221 adventures</div>
      </div>
      <img src="../../assets/images/travel/city/paris.jpg" height="295" width="280"/>
    </div>
  </div>

  <div fxFlex="23" fxLayout="column">
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">TOKYO</div>
        <div style="font-size: 15px;">500+ adventures</div>
      </div>
      <img src="../../assets/images/travel/city/tokyo.jpg" height="250" width="280"/>
    </div>
    <div style="height:20px;"></div>
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">CHICAGO</div>
        <div style="font-size: 15px;">143 adventures</div>
      </div>
      <img src="../../assets/images/travel/city/chicago.jpg" height="330" width="280"/>
    </div>
  </div>

  <div fxFlex="23">
    <div class="div1">
      <div style="position: absolute;z-index: 99;color:#fff;">
        <div style="font-weight: bold;font-size: 20px;">REYKJAVIK</div>
        <div style="font-size: 15px;">87 adventures</div>
      </div>
      <img src="../../assets/images/travel/city/reykjavik.jpg" height="600" width="280"/>
    </div>
  </div>

  <span fxFill></span>
</div>
