<app-carousel-img style="position: absolute;left:0;top:0;z-index:-2;height:100%;width:100%;"></app-carousel-img>
<div fxLayout="column">
  <div class="item" style="font-size:70px;color:#fff;"><strong>Adventures made easy</strong></div>
  <div class="item" style="font-size:26px;color:#fff;">Find and book activities,tours,and experience.</div>
  <!--<div class="form-group" style="width:50%;height:50px;margin-top: 5%;">-->
    <!--<i class="material-icons" style="position:relative;top: 40px;left:20px;">location_on</i>-->
    <!--<input type="text" class="form-control" id="" placeholder="Where would you like to go?" style="text-indent:51px;font-size: 20px;height:100%;" />-->
  <!--</div>-->
  <div class="item" style="width:30%;background:#ffffff;border-radius: 5px;-moz-box-shadow:3px 2px 3px #888888;box-shadow: 3px 2px 3px #888888;">

    <mat-form-field color="Primary" style="width:90%;font-size: 20px;">
      <input matInput type="text" required style="font-size: 20px;"/>
      <mat-placeholder style="font-size: 20px;"><mat-icon matSuffix style="font-size: 20px;">place</mat-icon>&nbsp;&nbsp;&nbsp;Where would you like to go?</mat-placeholder>
    </mat-form-field>

  </div>

  <div class="item" fxLayout="row" fxLayoutGap="20px" style="width:45%;">

    <mat-form-field fxFlex="25" style="font-size: 20px;">
      <input matInput [matDatepicker]="dp1" disabled>
      <mat-placeholder><mat-icon matSuffix>flight_takeoff</mat-icon>&nbsp;Departure</mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="dp1"><mat-icon></mat-icon></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="25" style="font-size: 20px;">
      <input matInput [matDatepicker]="dp2" disabled>
      <mat-placeholder><mat-icon matSuffix>flight_land</mat-icon>&nbsp;Return</mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
    </mat-form-field>

    <span fxFill></span>

  </div>

  <div class="item">
    <button mat-raised-button color="primary">Find Adventures & Tours</button>
  </div>

</div>
<div class="baise"></div>
