.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width:50%;
}
.baise{
  position: absolute;
  z-index: -1;
  height: 600px;
  width: 100%;
  background-color: #fff;
  -webkit-transform:translate(20px,40px) rotate(21deg);
  transform:translate(40px,40px) rotate(22deg);
  -webkit-transform-origin: 25% 0;
  transform-origin: -45% 0;
}
