<div style="font-size: 50px;">Browse by activity</div>

<div id="nav">
  <ul>
    <li>
      <img src="../assets/images/1.png" width="80" height="80"/>
      <span style="color:#FD68AE;">Active</span>
    </li>
    <li>
      <img src="../assets/images/2.png" width="80" height="80"/>
      <span style="color:#32DADA;">Artistic</span>
    </li>
    <li>
      <img src="../assets/images/3.png" width="80" height="80"/>
      <span style="color:#4E93F8;">Drinks</span>
    </li>
    <li>
      <img src="../assets/images/4.png" width="80" height="80"/>
      <span style="color:#F1C363;">Fashion</span>
    </li>
    <li>
      <img src="../assets/images/5.png" width="80" height="80"/>
      <span style="color:#AA5EFD;">Food</span>
    </li>
    <li>
      <img src="../assets/images/6.png" width="80" height="80"/>
      <span style="color:#EC8936;">Music</span>
    </li>
    <li>
      <img src="../assets/images/7.png" width="80" height="80"/>
      <span style="color:#14B52A;">Nature</span>
    </li>
    <li>
      <img src="../assets/images/8.png" width="80" height="80"/>
      <span style="color:#E83A3A;">Nightlife</span>
    </li>
    <li>
      <img src="../assets/images/9.png" width="80" height="80"/>
      <span style="color:#0ECE9E;">Tours</span>
    </li>
    <li>
      <img src="../assets/images/10.png" width="80" height="80"/>
      <span style="color:#3ABEE8;">Water</span>
    </li>
  </ul>
</div>
